@media screen and (min-width:783px) {
	.doctor-details.form-table td:first-of-type {
		width: 20%;
	}
}
.doctor-details td input[type="text"] {
	width: 100%;
}

.doctor-details td input::-webkit-input-placeholder {
   color: #ccc;
}

.doctor-details td input:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}

.doctor-details td input::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}

.doctor-details td input:-ms-input-placeholder {  
   color: #ccc;  
}
.sponsor-details input[type="text"] {
    width: 100%;
}

img{
  max-width: 100% !important;
}
/* clearfix css */
.clear{
  clear:both;
}

.clearfix:after {
    content: ".";
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    display: block;
}


.heading {
  background: none repeat scroll 0 0 #9b9b99;
  color: #ffffff;
  margin: 0;
  padding: 9px 10px;
}


/** Widgets css */
#ed-font-awesome-list{
    margin-bottom: 10px 
}
#ed-font-awesome-list ul{
    text-align: center; 
    height: 300px; 
    overflow-y:scroll; 
    position: relative; 
    border:1px solid #EEE; 
    margin: 0
}
.ed-font-icon-selector{ 
    background: #F6F6F6; 
    padding: 10px;
    border:1px solid #EEE; 
    border-top:none;
}
#ed-font-awesome-list li{
    width:60px;
    height: 60px; 
    display: inline-block;
    margin: 4px;
    cursor: pointer;
}
#ed-font-awesome-list li:hover, 
#ed-font-awesome-list li.selected{
  background: #F6F6F6;
}
#ed-font-awesome-list li .fa{
  font-size: 32px;
  line-height: 60px;
  color:#000;
  display: block;
}
.icon-receiver {
    background: none repeat scroll 0 0 #f6f6f6;
    display: block;
    font-size: 32px;
    text-align: center;
}
.icon-receiver .fa{
    margin: 10px;
}
input.small-text[type="number"]{
    width: 110px;
    padding: 3px 5px;
}
.ed-font-icon-selector{
    text-align: center;
}
.ed-font-icon-selector .button{
    width: 80%;
}
.team-thumb{
    width: 300px;
    margin-top: 5px;
}
.widget-upload{
    position: relative;
    margin-bottom: 10px;
}
.widget-upload img{
    border:1px solid #CCC;
    padding: 4px;
}

.widget-upload .remove-image {
    background: url("../images/ico-delete.png");
    bottom: 4px;
    display: block;
    float: left;
    height: 16px;
    left: -4px;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    width: 16px;
    cursor: pointer;
}
.sub-option img{ 
    max-width: 100%;
}
.page-meta-box.form-table td{
    padding: 5px 10px;
}
.hide-radio {
    margin-bottom: 6px;
    position: relative;
    margin-right: 25px;
    display: inline-block;
}
.hide-radio img, .hide-radio label {
    display: block;
}
.hide-radio input[type="radio"] {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
}
.hide-radio input[type="radio"] + label{
    border:2px solid transparent;
}
.hide-radio input[type="radio"]:checked + label{
    border:2px solid #CCC;
}
.page-banner-thumb{
    max-width: 600px;
    margin-top: 5px;
}
#upload-header-image{
    width:460px; 
}
.ui-dialog.panels-admin-dialog.ui-widget .ui-dialog-content > *:last-child{
    margin-bottom: 20px;
}

.description > input {
  margin-right: 15px;
  /*width: 600px;*/
}
/** end */
#optionsframework-metabox .option {
    border: 1px solid #c7c7c7;
    padding: 10px 16px;
}


#optionsframework #options-group-3 .header-group h3 {
background: -moz-linear-gradient(62deg, #e5e5e5 0%, #ededed 84%);/* FF3.6+ */
background: -webkit-gradient(linear, 62deg, color-stop(0%, #e5e5e5), color-stop(84%, #ededed));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(62deg, #e5e5e5 0%, #ededed 84%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(62deg, #e5e5e5 0%, #ededed 84%);/* Opera 11.10+ */
background: -ms-linear-gradient(62deg, #e5e5e5 0%, #ededed 84%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ededed', GradientType='1'); /* for IE */
background: linear-gradient(28deg, #e5e5e5 0%, #ededed 84%);/* W3C */
    border: medium none;
    border-radius: 3px;
    color: #353535;
    margin: 10px auto 0;
    padding: 10px 0;
    width: 98%;
    position: relative;
}
#optionsframework #options-group-3 .header-group h3:after{
   border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #353535;
    content: "";
    margin-top: -3px;
    position: absolute;
    right: 15px;
    top: 50%;
}
.toggle {
    margin-bottom: 15px;
}
input {
    margin-bottom: 10px;
}
.toggle-on.active,.toggle-on{
  text-indent: 7px !important;
}

#optionsframework .section.section-info {
  background: none repeat scroll 0 0 #808080;
  border: medium none;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 40px;
  padding: 0;
}
#optionsframework .section.section-info .heading {
  background: none repeat scroll 0 0 #808080;
  border: medium none;
}

/* Main block */
.switch_options{
  display: block;
  font-family: "Helvetica", Arial, Sans-serif;
  margin-bottom: 10px;
}
/* Main block clearfix */
.switch_options:before,
.switch_options:after{
  content:'.';
  display:block;
  overflow:hidden;
  visibility:hidden;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}
.switch_options:after{clear:both;}

/*Options*/
.switch_options span{
  display: inline-block;
  float: left;
  padding: 4px 9px;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  color: #555;
  border: 1px solid #aaa;
  text-transform: uppercase;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.switch_options span:first-of-type{
  border-radius: 2px 0 0 2px;
  border-right: 0;
}
.switch_options span:last-of-type{
  border-radius: 0 2px 2px 0;
  border-left: 0;
}
.switch_options span:hover{
  background: #fafafa;
}

/* Active option */
.switch_options span.selected{
  background: #00b7ea; /* Old browsers */
  background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
  border-color: #0082A3;
  color: #fff;
}
#optionsframework #options-group-10 .section.section-info {
  color: #ffffff;
  font-size: 16px;
  line-height: 12px;
  padding: 10px;
}

#options-group-10 .section.section-info > a {
  color: #353535;
  font-size: 14px;
  text-decoration: none;
}
#options-group-10 .section.section-info > a:hover{
  text-decoration: underline;
}

#optionsframework #options-group-10 p {
  margin-bottom: -15px;
}

#optionsframework #options-group-10 .section.section-info .heading {
  background: none repeat scroll 0 0 #353535;
  font-size: 22px;
  line-height: 24px;
}

.section-div .option.clearfix {
    border: medium none !important;
}
#optionsframework .homepagesetting {
    padding-bottom: 10px;
}
.theme-header.clearfix .big-title{
    float:right!important;
}



/*custom admin style css*/
.wimpie_pro_draggable{
  padding:5px 0;  
}
.parallax-customize-control-title, .plan-customize-control-title{
  border: 1px solid #dfdfdf;
    cursor: move !important;
    font-weight: bold;
    padding: 0 10px !important;
    height: 40px;
    line-height: 40px !important;
    background-color: #f1f1f1;
    background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
    background-image: linear-gradient(top, #f9f9f9, #ececec);
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    text-align: center;
    color: #696969;
}
.parallax-box-content-hidden, .plan-box-content-hidden{
  padding: 5px;
    border: 1px solid #dfdfdf;
    background:#fff;
  display:none; 
}

.customize-control-title{
  color:#696969;  
}
.wimpie_pro_image_control input[type=text]{
  margin-bottom:10px; 
}
.customize-control input[type=text]{
  margin-bottom:15px; 
}
.wimpie_pro_general_control_droppable textarea{
  width:98%;
  margin-bottom:15px; 
}
.add_field .wimpie_pro_general_control_new_field{
  background:#C50000;
  color:#fff;
  border:2px solid #C50000;
  box-shadow:none;  
}
.add_field .wimpie_pro_general_control_new_field:hover{
  border:2px solid #C50000;
  background:none;
  color:#C50000;
}

.demo-loading{
   background-image: url('../images/demoload.gif');
   width: 64px;
   height: 64px;
   margin-bottom: 8px;
   margin-top: 20px;
}

#demo_import {
   background: #cc444d;
   color: #FFFFFF;
   padding: 5px 10px;
   border-radius: 15px;
   font-weight: bold;
   border: 1px solid #1C72AC;
}

#demo_import:hover {
   color: #EEEEEE;
}

.import-message {
   margin-top: 10px;
   border: 1px solid #BEBEBE;
   padding: 10px;
}

.import-success{
   color: green;
   font-weight: bold;
}
/* Radio button hide*/

.radio-button{
    display: none !important;
}

.ui-state-active img{
    border: 2px solid #F51;
}

.radio-image {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 34%;
}
.radio-image span.ui-button-text{
    padding: 4px 8px 2px 4px;
}

/* eightmedi choose option style */
.switch_options{
    display: block;
}
.switch_options:before,
.switch_options:after{
    content:'.';
    display:block;
    overflow:hidden;
    visibility:hidden;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
.switch_options:after{
	clear:both;
}
.switch_options span{
    display: inline-block;
    float: left;
    padding: 4px 9px;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color: #555;
    border: 1px solid #aaa;
    text-transform: uppercase;
    line-height: 16px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.switch_options span:first-of-type{
    border-radius: 2px 0 0 2px;
    border-right: 0;
}
.switch_options span:last-of-type{
    border-radius: 0 2px 2px 0;
    border-left: 0;
}
.switch_options span:hover{
    background: #fafafa;
}
.switch_options span.selected{
    background: #DD3333; /* Old browsers */
    background: -moz-linear-gradient(top,  #DD3333 0%, #DD3333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DD3333), color-stop(100%,#DD3333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #DD3333 0%,#DD3333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #DD3333 0%,#DD3333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #DD3333 0%,#DD3333 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #DD3333 0%,#DD3333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#DD3333',GradientType=0 ); /* IE6-9 */
    border-color: #DD3333;
    color: #fff;
}
/*sortable tab*/

#eightmedi-pro-sections-reorder li {
border: 1px solid #dfdfdf;
cursor: move !important;
font-weight: bold;
padding: 0 10px !important;
height: 40px;
line-height: 40px !important;
background-color: #f1f1f1;
background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
background-image: linear-gradient(top, #f9f9f9, #ececec);
overflow: hidden;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: inset 0 1px 0 #fff;
-webkit-box-shadow: inset 0 1px 0 #fff;
box-shadow: inset 0 1px 0 #fff;
text-align: center;
color: #696969;
}