.customize-control-typography li select {
	width: 90%;
}

.customize-control-typography li.typography-font-weight,
.customize-control-typography li.typography-font-size {
	clear: both;
}
.customize-control-typography li.typography-font-size input,
.customize-control-typography li.typography-line-height input {
	width: 75px;
}

.slider-range-line-height,
.slider-range-size{
	width: 90%;
}
